tt { font-size: 1.3em;
     font-weight: normal;
}

img {/* border style for all images */
      border: 0;
      }

img.b {/* replacement for <br /> after images */
        display: block; /* forces line break for content after */
        }

img.t {/* top margin control */
        margin-top: 0.8em;
        }

img.g53 {/* scalable em 53 */
          width: 3.3em;
          height: 3.3em;
          }

img.g32 {/* scalable em 32 */
          width: 2em;
          height: 2em;
          }

img.g45 {/* scalable em 45 */
          width: 12em;
          height: 15em;
          }

h0, h1, h2, h3, h4, h5, h6 {
	color: 					#006633;
	font-family: 					"Lucida Grande", sans-serif;
	font-weight:					bold;
	margin-top:					0.8em;
	margin-bottom:				0.2em;
}

h0 {
	font-size: 					3em;
	line-height:					normal;
	margin-top:					0;
	margin-bottom:				0.5em;
	text-align: center;
}

h1 {
	font-family: 					"Zapfino", sans-serif;
	font-size: 					2em;
	line-height:					normal;
	margin-top:					0;
}
h2 {
     text-decoration: underline;
     font-size: 					1.6em;
     line-height:					normal;
     margin-top:					1.2em;
}

h3 {
	font-size: 					1.3em;
	margin-top:					1.2em;
}

h4 {
	font-size: 					1em;
	font-weight:					bold;
}

h5 {
	font-size: 					1em;
}

h2.puff {
	font-size: 					1.6em;
	font-weight:					bold;
	color: 					#000;
	padding: 					0.1em 0 0 0;
	margin:					0.1em 0 0 0;
}

h3.puff {
	font-size: 					1.3em;
	font-weight:					bold;
	color: 					#000;
	padding: 					0.1em 0 0 0;
	margin:					0.1em 0 0 0;
}

p {
	margin-top:					0.3em;
	margin-bottom:				0.7em;
}

body { font-size: 12pt }

pre, inline, varname, paramname, lengthunit, lexerregexp, syntaxname, typename, bnf
{
  font-family: courier;
  font-size: 10pt
}
varname.replacable, paramname.replacable, typename.replacable, constname.replacable, filename.replacable, lengthunit.replacable
{ color: #CC6600; }

pre { margin-left: 1.5em; }
pre.terminal { /* width: 80; */ }
pre.bad { color: #900; text-decoration: line-through; }
inline    { }
varname   { }
lengthunit{ text-decoration: overline; }
paramname { font-style: italic; }
typename  { font-style: italic; font-weight: bold; }
lexerregexp { color: F00; font-weight: bold; }
constname { font-weight: bold; }
filename  { font-family: sans-serif; font-style: italic; font-size: 90%; }

syntaxname { font-style: italic; color: #F0F; text-decoration: underline; }
syntaxname.new { text-decoration: none; }
bnf  { font-size: 140%; color: #00F; }

exampleswitch { font-size: bigger; color: #9900FF; text-decoration: underline; cursor:pointer }

remark p { margin-left: 0.5em; font-size: smaller; font-style: italic; }
todo p { margin-left: 0.5em; font-size: bigger; font-style: italic; color: F00; }

table.codefile { width:100%; background:#FFFFCC; }
table.operator-table { width:100%; background:#FFFFCC; }
table.constructor-table { background:#FFFFCC; }
hr.thick { border:0; height:3px; color:#000; background:#000; }

table.note { width:100%; border-style:solid; border-color:#0C0; }

.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}
.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}
.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
}
.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

.small-caps
{
		font-variant: small-caps;
}
.medium-caps
{
		font-size: smaller;
		text-transform: uppercase;
}
.xx-small
{
		font-size: xx-small;
}
.nowrap
{
		white-space: nowrap;
}
